# Set theory

Set is a series of single entities called "Elements" which can also referred as "Events" (if they are product of an experiment). It consist of a distinct elements which are not repititive.

In [1]:
# prerequisites packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.special import comb, perm
%matplotlib inline

## Definition

Set is list a non repeatitive list of elements. It can't have same elements (unlike list which can consist of same elements). Sets also can have non numerical elements such as text (string). It is also possible to have various type of elements (numerical and non numerical) but it would impractical since you can't perform statistics analysis on various type.
Unlike set, **List** can have repititive elements

In [2]:
#Check the difference between list and set
dice_rolls_order= [1,1,2,1,3,3,4,1,3,2,3,1,3,5,1,2,3,1,2,3,4,4,4,5,6,1,2,3]
disk_sample_space= set(dice_rolls_order)

print(dice_rolls_order)
print(disk_sample_space)

[1, 1, 2, 1, 3, 3, 4, 1, 3, 2, 3, 1, 3, 5, 1, 2, 3, 1, 2, 3, 4, 4, 4, 5, 6, 1, 2, 3]
{1, 2, 3, 4, 5, 6}

Each element can exist only within sample space. We have a Set of 6 consecutive integers from 1 to 6. So our sample space would be:
$a={1,2,3,4,5,6}$ </br>
then *1* would be an element of *a*.

Now let's see another example. What is the sample space of rolling a dice once? ðŸŽ²
Obviously it would $b={1,2,3,4,5,6}$. </br>
Now any element of this sample space would be an **Event**. Because, it is a product of single experiment could be executed infinite times (no matter how many times you roll a dice, the top face would always has a value between 1 to 6 (both inclusive)). So *2* is an event of *b*.

In [3]:
a={1,2,3,4,5,6} # 1 to 6
# OR
a=set([1,2,3,4,5,6])
b={1,2,3,4,5,6} # Dice roll sample space

### Universal set

It consist of all possible outcomes or all possible elements which could exist inside of a specific set. It is notated by $U$ and nothing could exist outside the scope of $U$ that could exist within the set($S$).

For example Universal space of dice roll is $U={1,2,3,4,5,6}$. Each dice roll outcome can only be one of the $U$.

### Subset

Any set of universal set is a subset of universal set.

In [4]:
b={1,2,3,4,5,6}
print(f'universal set: {b}')
#Subset of odd numbers
subset_1={1,3,5}
#Subset of numbers greater than 3
subset_2={4,5,6}
print(f'{subset_1} is subset of {b}? ',subset_1.issubset(b))

universal set: {1, 2, 3, 4, 5, 6}
{1, 3, 5} is subset of {1, 2, 3, 4, 5, 6}?  True

### Superset

It a subset of $U$ that has all of the elements of another subset of $U$ which higher on the hierachy.

$U={1,2,3,4,5,6}$ </br>
$S={1,2,3,4}$ (The superset)</br>
$s={1,2}$ (The subset)

In [5]:
b={1,2,3,4,5,6}
print(f'universal set: {b}')
#Subset of odd numbers
subset_1={1,3,5}
#Subset of numbers greater than 3
subset_2={4,5,6}
print(f'{b} is subset of {subset_1}? ', b.issuperset(subset_1))

universal set: {1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6} is subset of {1, 3, 5}?  True

### Complementary set

All of the elements which is outside of the scope set*A* but exists in union space. In a nutshell: $A'=U - A$

### Intersection

A subset of *A* and *B* which elements are mutual between.
for example: </br>
$A={1,2,3,4}$ </br>
$B={2,4,6,8}$ </br>
$A \cap B={2,4}$ </br>

In [6]:
a={1,2,3,4}
b={2,4,6,8}

print(a.intersection(b))
a & b

{2, 4}

{2, 4}

### Union

A set consists of all the elements in *A* and *B*, wether mutual or not.
for example: </br>
$A={1,2,3,4}$ </br>
$B={2,4,6,8}$ </br>
$A \cup B={1,2,3,4,6,8}$ </br>

In [7]:
a={1,2,3,4}
b={2,4,6,8}

print(a.union(b))
a | b

{1, 2, 3, 4, 6, 8}

{1, 2, 3, 4, 6, 8}

### Difference

A subset of *A* which doesn't have any mutual element with another set *B*. In a nutshell, remove all of the mutual elements.
It would be like this: </br>
$A - B= A - (A \cap B) =(A \cap B)'$ </br>
for example:
$A={1,2,3,4}$ </br>
$B={2,4,6,8}$ </br>
\
$A - B={1,3}$ </br>

In [8]:
a={1,2,3,4}
b={2,4,6,8}

print(a.difference(b))
a - b

{1, 3}

{1, 3}

### Symmetrical Difference

A subset of unmutual elements of both sets *A* and *B*. It can also seen as difference of union of *A* *B* and intersection of *A* *B*. To put it in notations: $(A \cup B) - (A \cap B)$

For example: </br>
$A={1,2,3,4}$ </br>
$B={2,4,6,8}$ </br>
$A \bigtriangleup B={1,3,6,8}$ </br>

In [9]:
# lets test something
# What if i add two sets
a + b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [10]:
# See you can't add two sets

### Set Manuplation functions

In [11]:
a={1,2,3,4}
# remove an element
new_set = a
new_set.remove(1) #removes the number one not the index 1
print(new_set)
# Adds a new element to the end of the set
new_set = a
new_set.add(5)
print(new_set)
# Pop an element (first element)
new_set = a
new_set.pop()
print(new_set)

{2, 3, 4}
{2, 3, 4, 5}
{3, 4, 5}

### Disjoint sets

When two seperate *A* and *B* have no mutual elements so they are disjointed. Hence, *A* is a disjoint to *B*.
$A \cap B= \phi$

In [13]:
a={1,2,3,4}
b={2,4,6,8}
c={10,12,14,16}
print(a.isdisjoint(b))
print(c.isdisjoint(b))

False
True